<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Selenium Test Suite">
    <test name="Login Tests">
        <classes>
            <class name="LoginSuccess"/>
            <class name="LoginAdvanced"/>
        </classes>
    </test>
</suite>
